{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'img/pycon_th.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <p>My name is Banx</p>
          <p>Software tester and a cat</p>
          <p>I hiss and I scratch</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>I'm a self-taught QA Engineer who dove headfirst into tech, initially barely able to stay afloat, but is now a certified "techie", gradually mastering the delightfully complex and exciting world of software.</p>
      <p>What's the most interesting about me? I test code in the daytime, and sashay in the shadows as a swashbuckling feline at night. And I have a bad sense of humor hahaha</p>
      <p>Also, I can say that although my educational background is not tech-related (hint: it’s in the medical field), I thoroughly enjoy what I do now as a QA Engineer. By creating this blog, speaking at meetup events and conferences, I’d like to think that I’m being an evangelist for this role. Many people don’t think of QA as glamorous, but I think it’s really interesting because of the many hats you put on, the investigative mind it requires, and you get to bug people about their code while coding at the same time! It’s super fun! :)</p>
    </div>
  </div>
</div>
{% endblock %}