{% load staticfiles %}

<html>

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>The testing cat!</title>
    </head>

    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <span class="glyphicon glyphicon-plus"><a href="{% url 'post_new' %}" class="top-menu"></a></span>
                <span class="glyphicon glyphicon-edit"><a href="{% url 'post_draft_list' %}" class="top-menu"></a></span>
                <p class="top-menu">Hey {{ user.username }} ! <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">The testing cat: from zero to hero!</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
