{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block header %}
    <header class="masthead" style="background-image: url('{% static 'img/conftest.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>IrinQA</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>What is IrinQA?</h1>
      <p>IrinQA's long-term vision is to be a safe haven for software testers and QA engineers to discuss all things tech.
      </p>
      <p>For the short-term, it is a thought dump, a journal of sorts; the brainchild of a certain <a href="/about"><i>felis catus</i></a> who operates as a QA Engineer by day, and reverts to true feline form at night.</p>
      <h1>Why the name "IrinQA"?</h1>
      <p>Because cats and bugs go well together.</p>
      <img src="">
    </div>
  </div>
</div>
{% endblock %}