{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block header %}
    <header class="masthead" style="background-image: url('{% static 'img/japan_food.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Iring QA</h1>
              <span class="subheading">Your hissy, scratchy software tester!</span>
              <span class="subheading">(Just kidding!)</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

{% block content %}
{% endblock %}