{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block header %}
<header class="masthead" style="background-image: url('{% static 'img/bot.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="post">
  <div class="col-lg-8 col-md-10 mx-auto">
    {% if post.published_date %}
      <div class="date">
        {{ post.published_date }}
      </div>
    {% endif %}

    <hr>

    <h1>{{ post.title }}</h1>
    <p align="justify">{{ post.text | safe | linebreaksbr }}</p>
  </div>
</div>
{% endblock %}
